// This file contains the grid engine (borrowed from
// Foundation or similar) and defines how modules relate to
// each other.

// Layout elements are prefixed with 'l-'

// Article: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 1rem;
}

.l-footer {
    margin-top: 2em;
}
