$color-error-background: lighten($color-accent, 45%);
$padding-sides: .5rem;
$font-size-label: .7em;

.bt-flabels input[type], .bt-flabels textarea {
    position: relative;
    width: 100%;
    display: block;
    border: none;
    border-radius: 0;
    z-index: 1;
    padding: 0 $padding-sides;
    transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), border-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:focus {
        background: #eee;
    }
}

.bt-flabels input[type] {
    height: 3em;
}

.bt-flabels textarea {
    padding-top: 9px;
}

.bt-flabels label {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top: 0;
    transform: translateY(15%);
    z-index: 2;
    font-size: $font-size-label;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-left: $padding-sides;
    color: $color-text;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.bt-flabels > *:not(:first-child).bt-flabels__wrapper,
.bt-flabels > *:not(:first-child) .bt-flabels__wrapper {
    border-top: none; //Remove border between form elements
}

.bt-flabels__wrapper {
    position: relative;
    border: 1px solid #c8c8c8;
}

.bt-flabels__error-desc {
    position: absolute;
    top: 0;
    right: $padding-sides;
    opacity: 0;
    color: $color-accent;
    font-size: $font-size-label;
    z-index: 3;
    pointer-events: none;
}

.bt-flabels__error {
    background: $color-error-background;

    input[type], input[type]:focus, textarea, textarea:focus {
        background: $color-error-background;
    }

    .bt-flabels__error-desc {
        opacity: 1;
        transform: translateY(0);
    }
}

.bt-flabel__float {
    label {
        opacity: 1;
        transform: translateY(0);
    }
    input[type] {
        padding-top: .8 * $font-size-label;

    }
    textarea {
        padding-top: 1.4 * $font-size-label;
    }
}
