.hero {
    min-height: 4em;

    @include text-stroke(2px, $color-background);

}

.js-retype {
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transition-delay: 1s;
    transition-timing-function: ease-out;
    transform: translateY(.5em);
}

.js-retype--visible {
    opacity: 1;
    transform: translateY(0);
}

.js-typed-cursor--stationary{
    opacity: 1;
    animation: blink 1.2s steps(1,end) infinite;
}
@keyframes blink{
    50% {
        opacity: 0;
    }
    // 50% { opacity:0; }
    // 100% { opacity:1; }
}
