.main-nav {



}

.main-nav__list {
    // display: inline;
    // list-style-type: none;
    padding-left: 0;
}

.main-nav__item {
    list-style-type: none;
    display: inline-block;
    margin-right: .4em;
}

.main-nav__link {
    color: black;
}

.main-nav__link--home {
    color: $color-link;
}

.main-nav__link--active {
    color: darken($color-link, 10%);
}
