// Colors ----------------------------------------------------------------------
// All colors used throughout the site are defined here
// Color space: sRGB
/*

The user is free to modify colors with darken() and lighten() to one's own
desire.

*/

$color-text: #020202;
$color-text-subtle: #333;

$color-accent: #ff5100;

$color-link: $color-accent;
$color-link-hover: darken($color-link, 2%);

$color-background: #fff;

// $dark-background-color: darken($_dark-green, 5%);
// $header-background-color: lighten($_light-green, 20%);

// Typography ------------------------------------------------------------------

$base-font: 'Real', 'Meta', 'Fira Sans', 'Trebuchet MS', Helvetica, Arial, sans-serif;

